<!DOCTYPE html>
<html xmlsn="http://www.w3.org/1999/xhtml"
	xmlsn:th="http://www.thymeleaf.org"
	xmlsn:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link href="/webjars/materializecss/0.97.7/css/materialize.css"
	type="text/css" rel="stylesheet" media="screen,projection" />
<meta charset="UTF-8" />
<title>Index</title>


</head>
<body>
	<div class="container">
		<div class="row center">
			<h1 class="header center green-text">FutManager</h1>
			<h5 class="header col s12 light">Sistema de Controle de Times e
				Jogadores</h5>
			<div class="row center">
				<a href="/times/" class="btn-large waves-effect waves-light teal">Gerenciar Times</a> 
				<a href="/jogadores/" class="btn-large waves-effect waves-light teal">Gerenciar Jogadores</a>
			</div>
		</div>
		<div class="row center"></div>
	</div>
	<script src="/webjars/jquery/2.2.4/jquery.js"></script>
	<script src="/webjars/materializecss/0.97.7/js/materialize.js"></script>
</body>
</html>